<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Demegflower">

        <!-- LAUNCHER: SplashActivity -->
        <activity
            android:name=".pertemuan_6.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Demegflower">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding -->
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />

        <!-- Pertemuan 7: BaseActivity (BottomNavigation) -->
        <activity
            android:name=".BaseActivity"
            android:exported="false" />

        <!-- Pertemuan 9: NinthActivity -->
        <activity
            android:name=".pertemuan_9.NinthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Pertemuan 10: TenthActivity (TabLayout + RecyclerView) -->
        <activity
            android:name=".pertemuan_10.TenthActivity"
            android:exported="false" />

        <!-- Pertemuan 6: WebViewActivity -->
        <activity
            android:name=".pertemuan_6.WebViewActivity"
            android:exported="false" />

        <!-- Pertemuan 3: Login -->
        <activity
            android:name=".pertemuan_3.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Quiz B: Registrasi -->
        <activity
            android:name=".pertemuan_3.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Quiz B: Verifikasi OTP -->
        <activity
            android:name=".pertemuan_3.VerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Pertemuan 3: WelcomeActivity -->
        <activity
            android:name=".pertemuan_3.WelcomeActivity"
            android:exported="false" />

        <!-- Pertemuan 4: Dashboard -->
        <activity
            android:name=".pertemuan_4.DashboardActivity"
            android:exported="false" />

        <!-- Pertemuan 4: Bangun Ruang -->
        <activity
            android:name=".pertemuan_4.BangunRuangActivity"
            android:exported="false" />

        <!-- Pertemuan 4: Custom 1 -->
        <activity
            android:name=".pertemuan_4.CustomActivity1"
            android:exported="false" />

        <!-- Pertemuan 4: Custom 2 -->
        <activity
            android:name=".pertemuan_4.CustomActivity2"
            android:exported="false" />

        <!-- Pertemuan 2 -->
        <activity
            android:name=".pertemuan_2.MainActivity"
            android:exported="false" />

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>
</manifest>
